<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid d-flex flex-wrap justify-content-between">
        <a class="nav-link" href="#"><button class="btn btn-outline-primary btn-smaller">Button 1</button></a>
        <a class="nav-link" href="#"><button class="btn btn-outline-primary btn-smaller">Button 2</button></a>
        <a class="nav-link" href="#"><button class="btn btn-outline-primary btn-smaller">Button 3</button></a>
        <a class="nav-link" href="#"><button class="btn btn-outline-primary btn-smaller">Button 4</button></a>
        <a class="nav-link" href="#"><button class="btn btn-outline-primary btn-smaller">Button 5</button></a>
    </div>
</nav>